@font-face {
  font-family:"star-trek";
  src: url("../fonts/FINALOLD.TTF") format("truetype");
}

h1 a {
    font-family: "star-trek";
    font-size: 4rem;
    color: gainsboro;
}

.day-header {
    font-size:2.25rem;
    background-color: #4A508A;
}

.new-entry-form {
    border-top: 1px solid;
    margin-top:0.5rem;
}

#id_text {
    width: 50%
}

#new-entry-text {
    width:100%;
    background-color: rgb(50, 53, 59);
    border-bottom-color: gray;
    border-right-color: #aaa;
    color: gainsboro;
}