{% extends 'log/base.html' %}
{% load template_tags %}

{% block content %}
    <div>
        <header class="day-header">
        <div class="d-flex align-items-center">
        <div class="mr-auto p-2" id="day-header">
        {% if date|length > 0 %}
            {{ date.1 }}-{{ date.2 }}-{{ date.0 }}
        {% endif %}
        {% if title %}
            {{ title }}
        {% endif %}
        </div>
        <div class="p-2">
        {% if date|length > 0 %}
            <a class="btn btn-sm btn-primary" href="javascript:next_day({{date.0}},{{date.1}},{{date.2}}, -1)"><i class="fas fa-angle-left"></i></a>
            <a class="btn btn-sm btn-primary" href="javascript:next_day({{date.0}},{{date.1}},{{date.2}}, 1)"><i class="fas fa-angle-right"></i></a>
            <a class="btn btn-sm btn-primary" href="javascript:today()">Today</a>
        {% else %}
            {% if request.path == "/todo" %}
                <a class="btn btn-sm btn-primary" href="{% url 'done_todos' %}">Done Todos</a>
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'todo' %}">Still todo</a>
            {% endif %}
        {% endif %}
        </div>
        </div>
        </header>
    </div>
    {% block day_content %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    function keyupEvent(e, pk) {
        if(e.keyCode == 27){
            hide(pk);
        }
    }

    {% if date|length > 0 %}
    (function insertDayOfWeek() {
      var dayOfWeek = new Date({{date.0}},{{date.1}}-1,{{date.2}}).getDay();    
      var day = isNaN(dayOfWeek) ? null : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek];
      document.getElementById("day-header").insertAdjacentText("afterbegin", day + ", ");
    })();
    {% endif %}

{% endblock %}
