{% extends 'log/base.html' %}

{% block content %}

<div class='d-flex flex-row'>
<div class="p-2"><a class="btn btn-sm btn-primary" href="javascript:today()">Today</a></div>
<div class="p-2"><a class="btn btn-sm btn-primary" href="{% url 'csv_export' %}">Export Data</a></div>
</div>

<form id="searchform" action="{% url 'search' %}" method="get">
    <input type="text" name="q" type="text"/>
    <button type="button" onclick="searchform.submit()">Search</button>
</form>

{% if entries|length > 0 %}
    <p>Entries containing '{{query_string}}'</p> 
    {% for entry in entries %}
        <div>
            <span> {{ entry.event_date }} </span>
            <a href="{{ entry.event_date|date:'Y/m/d' }}">{{ entry.text }}</a>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
