{% extends 'log/day_based.html' %}
{% load template_tags %}

{% block day_content %}
    <div class="entry-list pt-2">
        {% include "log/entries.html" with entries=existing_forms entry_type="unused" %}
    </div>
    <div class="row">
    <div class="col-6">
        <p>
        <form method="POST" class="new-entry-form">{% csrf_token %}
            <label for="{{ new_form.text.id_for_label }}">New Entry:</label>
            <input type="text" name="text" required id="new-entry-text">
            <button type="submit" class="save btn btn-primary" name="new_entry">Save</button>
        </form>
        </p>
    </div>
{% endblock %}

