<html>
    <head>
        <title>Captain's Log</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Captain's Log</a></h1>
        </div>
        <div>
            {% for item in existing_forms %}
                <div>
                    <p id=title_{{item.instance.pk}} >{{ item.instance.text }}
                    <a class="btn btn-default" href="javascript:unhide( {{item.instance.pk}} )"><span class="glyphicon glyphicon-pencil"></span>edit</a></p>
                    <form method="POST" id=edit_{{item.instance.pk}} class="edit-item-form" style="display: none;">{% csrf_token %}
                        {{ item }}
                        <button type="submit" class="save btn btn-default" onclick="hide({{item.instance.pk}})" name="update_item" value={{item.instance.pk}}>Save</button>
                        <button type="submit" class="save btn btn-default" onclick="if (!confirm('Are you sure?')) return false;" name="delete_item" value={{item.instance.pk}}>Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div>
            <form method="POST" class="new-item-form">{% csrf_token %}
                {{ new_form.as_p }}
                <button type="submit" class="save btn btn-default" name="new_item">Save</button>
            </form>
        </div>
    </body>
</html>
<script>function unhide(post_key)
{
    document.getElementById("edit_"+post_key).style.display="block";
    document.getElementById("title_"+post_key).style.display="none";
}
function hide(post_key)
{
    document.getElementById("edit_"+post_key).style.display="none";
    document.getElementById("title_"+post_key).style.display="block";
}
</script>