{% extends 'log/base.html' %}
{% load template_tags %}

{% block content %}
    <div>
        <header class="day-header">
        <div class="d-flex align-items-center">
        <div class="mr-auto p-2" id="day-header">
        {% if date|length > 0 %}
            {{ date.1 }}-{{ date.2 }}-{{ date.0 }}
        {% endif %}
        {% if title %}
            {{ title }}
        {% endif %}
        </div>
        <div class="p-2">
        {% if date|length > 0 %}
            <a class="btn btn-sm btn-primary" href="javascript:next_day({{date.0}},{{date.1}},{{date.2}}, -1)"><i class="fas fa-angle-left"></i></a>
            <a class="btn btn-sm btn-primary" href="javascript:next_day({{date.0}},{{date.1}},{{date.2}}, 1)"><i class="fas fa-angle-right"></i></a>
            <a class="btn btn-sm btn-primary" href="javascript:today()">Today</a>
        {% else %}
            {% if request.path == "/todo" %}
                <a class="btn btn-sm btn-primary" href="{% url 'done_todos' %}">Done Todos</a>
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'todo' %}">Still todo</a>
            {% endif %}
        {% endif %}
        </div>
        </div>
        </header>
    </div>
    <div class="entry-list pt-2">
        <ul>
        {% for entry in existing_forms %}
            <div>
                {% if entry.instance.wont_do %}
                <s>
                {% endif %}
                <li id=title_{{entry.instance.pk}}>
                {{ entry.instance.text }}
                {% if entry.instance.wont_do %}
                </s>
                {% endif %}
                {% if entry.instance.completed_at or entry.instance.wont_do %}
                    {% entry_button 'undo' 'Undo' entry.instance.pk %}
                {% elif entry.instance.completeable %}
                    {% entry_button 'mark_done' 'Done' entry.instance.pk %}
                    {% entry_button 'mark_wont' "Won't Do" entry.instance.pk %}
                {% endif %}
                <a class="btn btn-sm btn-primary" href="javascript:unhide( {{entry.instance.pk}} )" style="display:inline"><i class="fas fa-edit"></i></a></li>
                <form method="POST" id=edit_{{entry.instance.pk}} class="edit-entry-form" onkeyup="keyupEvent(event, {{entry.instance.pk}})" style="display: none;">{% csrf_token %}
                    {{ entry }}
                    <input type="hidden" name="pk" value={{entry.instance.pk}}>
                    <button type="submit" class="save btn btn-primary" onclick="hide({{entry.instance.pk}})" name="update_entry" value={{entry.instance.pk}}>Save</button>
                    <button type="submit" class="save btn btn-danger" onclick="if (!confirm('Are you sure?')) return false;" name="delete_entry" value={{entry.instance.pk}}>Delete</button>
                </form>
            </div>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
    <div class="col-6">
        <p>
        <form method="POST" class="new-entry-form">{% csrf_token %}
            <label for="{{ new_form.text.id_for_label }}">New Entry:</label>
            <input type="text" name="text" required id="new-entry-text">
            <button type="submit" class="save btn btn-primary" name="new_entry">Save</button>
        </form>
        </p>
    </div>

{% endblock %}

{% block scripts %}
    function keyupEvent(e, pk) {
        if(e.keyCode == 27){
            hide(pk);
        }
    }

    {% if date|length > 0 %}
    (function insertDayOfWeek() {
      var dayOfWeek = new Date({{date.0}},{{date.1}}-1,{{date.2}}).getDay();    
      var day = isNaN(dayOfWeek) ? null : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek];
      document.getElementById("day-header").insertAdjacentText("afterbegin", day + ", ");
    })();
    {% endif %}

{% endblock %}
