{% extends 'log/day_based.html' %}
{% load template_tags %}

{% block day_content %}
    <div class="entry-list pt-2">
        {% include "log/entries.html" with entries=existing_forms entry_type="unused" %}
    </div>
    <div class="row">
    <div class="col-6">
        <p>
        <form method="POST" class="new-entry-form">{% csrf_token %}
            <label for="{{ new_form.name.id_for_label }}">New Mission:</label>
            <input type="text" name="name" required id="new-entry-text">
            <label for="{{ new_form.notes.id_for_label }}">Notes:</label>
            <textarea type="textarea" name="notes" required id="new-entry-text"></textarea>
            <input type="hidden" name="type" value={{entry_type}}>
            <button type="submit" class="save btn btn-primary" name="new_entry">Save</button>
        </form>
        </p>
    </div>
{% endblock %}

