{% extends 'log/base.html' %}

{% block content %}
    <div class="entry-list pt-2">
        {% for entry in existing_forms %}
            <div>
                {% if entry.instance.wont_do %}
                <s>
                {% endif %}
                <p id=title_{{entry.instance.pk}}>{{ entry.instance.text }}
                {% if entry.instance.wont_do %}
                </s>
                {% endif %}
                {% if entry.instance.completed_at or entry.instance.wont_do %}
                    <a class="btn btn-sm btn-primary" href="todo_undone/{{entry.instance.pk}}">UNDO</a>
                {% else %}
                    <a class="btn btn-sm btn-primary" href="todo_done/{{entry.instance.pk}}">DONE</a>
                    <a class="btn btn-sm btn-primary" href="todo_wont/{{entry.instance.pk}}">WON'T DO</a>
                {% endif %}
                <a class="btn btn-sm btn-primary" href="javascript:unhide( {{entry.instance.pk}} )"><i class="fas fa-edit"></i></a>
                <form method="POST" id=edit_{{entry.instance.pk}} class="edit-entry-form" onkeyup="keyupEvent(event, {{entry.instance.pk}})" style="display: none;">{% csrf_token %}
                    {{ entry }}
                    <button type="submit" class="save btn btn-primary" onclick="hide({{entry.instance.pk}})" name="update_entry" value={{entry.instance.pk}}>Save</button>
                    <button type="submit" class="save btn btn-danger" onclick="if (!confirm('Are you sure?')) return false;" name="delete_entry" value={{entry.instance.pk}}>Delete</button>
                </form>
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row">
    <div class="col-6">
    {% if new_form %}
        <p>
        <form method="POST" class="new-entry-form">{% csrf_token %}
            <label for="{{ new_form.text.id_for_label }}">New Entry:</label>
            <input type="text" name="text" required id="new-entry-text">
            <button type="submit" class="save btn btn-primary" name="new_entry">Save</button>
        </form>
        </p>
    {% endif %}
    </div>
{% endblock %}
